<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_050d8a58f8a01965d51efbf3db50df3f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_050d8a58f8a01965d51efbf3db50df3f" ></div>
        
</body>
<script>
    
    
            var map_050d8a58f8a01965d51efbf3db50df3f = L.map(
                "map_050d8a58f8a01965d51efbf3db50df3f",
                {
                    center: [0.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d5ddf68bd92068e0c4d245023ec973e7 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_050d8a58f8a01965d51efbf3db50df3f);
        
    
            var marker_cd9eb115a90297cc5444bb8058f03835 = L.marker(
                [48.8566, 2.3522],
                {}
            ).addTo(map_050d8a58f8a01965d51efbf3db50df3f);
        
    
        var popup_91ee28ce01472d89f01de21f8069feae = L.popup({"maxWidth": "100%"});

        
            
                var html_5067d6507f59865c1ae01272697359c9 = $(`<div id="html_5067d6507f59865c1ae01272697359c9" style="width: 100.0%; height: 100.0%;">Paris, France</div>`)[0];
                popup_91ee28ce01472d89f01de21f8069feae.setContent(html_5067d6507f59865c1ae01272697359c9);
            
        

        marker_cd9eb115a90297cc5444bb8058f03835.bindPopup(popup_91ee28ce01472d89f01de21f8069feae)
        ;

        
    
    
            var marker_de41fabb97f032cf0978e1870b90f1a8 = L.marker(
                [40.7128, -74.006],
                {}
            ).addTo(map_050d8a58f8a01965d51efbf3db50df3f);
        
    
        var popup_33089c0a332b2371df38478c5f5ab8d7 = L.popup({"maxWidth": "100%"});

        
            
                var html_16131ba621d282a0761ca948d2334f48 = $(`<div id="html_16131ba621d282a0761ca948d2334f48" style="width: 100.0%; height: 100.0%;">New York City, USA</div>`)[0];
                popup_33089c0a332b2371df38478c5f5ab8d7.setContent(html_16131ba621d282a0761ca948d2334f48);
            
        

        marker_de41fabb97f032cf0978e1870b90f1a8.bindPopup(popup_33089c0a332b2371df38478c5f5ab8d7)
        ;

        
    
    
            var marker_ce63c05ba58bcfc8ebd8cdeedf536e6b = L.marker(
                [35.6895, 139.6917],
                {}
            ).addTo(map_050d8a58f8a01965d51efbf3db50df3f);
        
    
        var popup_b9814b15db95f5a5697f24bbdec8d499 = L.popup({"maxWidth": "100%"});

        
            
                var html_65e433e6d4dcce54f658dbb48f7d9c2a = $(`<div id="html_65e433e6d4dcce54f658dbb48f7d9c2a" style="width: 100.0%; height: 100.0%;">Tokyo, Japan</div>`)[0];
                popup_b9814b15db95f5a5697f24bbdec8d499.setContent(html_65e433e6d4dcce54f658dbb48f7d9c2a);
            
        

        marker_ce63c05ba58bcfc8ebd8cdeedf536e6b.bindPopup(popup_b9814b15db95f5a5697f24bbdec8d499)
        ;

        
    
    
            var marker_32fdf1975c1e36b9c9c12924dde757ec = L.marker(
                [51.5074, -0.1278],
                {}
            ).addTo(map_050d8a58f8a01965d51efbf3db50df3f);
        
    
        var popup_8db0503c18c7808454ddb1cb11c68ca1 = L.popup({"maxWidth": "100%"});

        
            
                var html_c180f7fe5733edd59614c2ff6efbe4f1 = $(`<div id="html_c180f7fe5733edd59614c2ff6efbe4f1" style="width: 100.0%; height: 100.0%;">London, UK</div>`)[0];
                popup_8db0503c18c7808454ddb1cb11c68ca1.setContent(html_c180f7fe5733edd59614c2ff6efbe4f1);
            
        

        marker_32fdf1975c1e36b9c9c12924dde757ec.bindPopup(popup_8db0503c18c7808454ddb1cb11c68ca1)
        ;

        
    
    
            var marker_c0f3fdf179aaa9e2b3a65b62e5ba2339 = L.marker(
                [-33.8688, 151.2093],
                {}
            ).addTo(map_050d8a58f8a01965d51efbf3db50df3f);
        
    
        var popup_a2dc10fddfbcf9891a5fe6666fe114c6 = L.popup({"maxWidth": "100%"});

        
            
                var html_e735ed1a72bf7df427986162b14614cd = $(`<div id="html_e735ed1a72bf7df427986162b14614cd" style="width: 100.0%; height: 100.0%;">Sydney, Australia</div>`)[0];
                popup_a2dc10fddfbcf9891a5fe6666fe114c6.setContent(html_e735ed1a72bf7df427986162b14614cd);
            
        

        marker_c0f3fdf179aaa9e2b3a65b62e5ba2339.bindPopup(popup_a2dc10fddfbcf9891a5fe6666fe114c6)
        ;

        
    
    
            var marker_b23d2b5dffbe6e7d48d12972c7b02484 = L.marker(
                [25.2048, 55.2708],
                {}
            ).addTo(map_050d8a58f8a01965d51efbf3db50df3f);
        
    
        var popup_da0d615a440237f275184124203fd1dd = L.popup({"maxWidth": "100%"});

        
            
                var html_71c0ef8739c9557341905d11a916001d = $(`<div id="html_71c0ef8739c9557341905d11a916001d" style="width: 100.0%; height: 100.0%;">Dubai, UAE</div>`)[0];
                popup_da0d615a440237f275184124203fd1dd.setContent(html_71c0ef8739c9557341905d11a916001d);
            
        

        marker_b23d2b5dffbe6e7d48d12972c7b02484.bindPopup(popup_da0d615a440237f275184124203fd1dd)
        ;

        
    
    
            var marker_483c584d63645200f515f50431b0b66c = L.marker(
                [-22.9068, -43.1729],
                {}
            ).addTo(map_050d8a58f8a01965d51efbf3db50df3f);
        
    
        var popup_6013daf0adb4a2cda0f299ad7fa480d2 = L.popup({"maxWidth": "100%"});

        
            
                var html_607db03b68f81a2a7833962fe0545c30 = $(`<div id="html_607db03b68f81a2a7833962fe0545c30" style="width: 100.0%; height: 100.0%;">Rio de Janeiro, Brazil</div>`)[0];
                popup_6013daf0adb4a2cda0f299ad7fa480d2.setContent(html_607db03b68f81a2a7833962fe0545c30);
            
        

        marker_483c584d63645200f515f50431b0b66c.bindPopup(popup_6013daf0adb4a2cda0f299ad7fa480d2)
        ;

        
    
    
            var marker_f5fb665fc6dad6f77774a185f89d4a58 = L.marker(
                [-33.9249, 18.4241],
                {}
            ).addTo(map_050d8a58f8a01965d51efbf3db50df3f);
        
    
        var popup_f50c000c246378efc0c9cee3432293f6 = L.popup({"maxWidth": "100%"});

        
            
                var html_da03f0ccb48b83ff419293e4f33dae2b = $(`<div id="html_da03f0ccb48b83ff419293e4f33dae2b" style="width: 100.0%; height: 100.0%;">Cape Town, South Africa</div>`)[0];
                popup_f50c000c246378efc0c9cee3432293f6.setContent(html_da03f0ccb48b83ff419293e4f33dae2b);
            
        

        marker_f5fb665fc6dad6f77774a185f89d4a58.bindPopup(popup_f50c000c246378efc0c9cee3432293f6)
        ;

        
    
    
            var marker_437879320fa557297ccaa5b11afee7cd = L.marker(
                [19.076, 72.8777],
                {}
            ).addTo(map_050d8a58f8a01965d51efbf3db50df3f);
        
    
        var popup_cb15aa68502dabedbdd8e0d0160d567e = L.popup({"maxWidth": "100%"});

        
            
                var html_e042302b36f1d4f006f0c3a2d95dde66 = $(`<div id="html_e042302b36f1d4f006f0c3a2d95dde66" style="width: 100.0%; height: 100.0%;">Mumbai, India</div>`)[0];
                popup_cb15aa68502dabedbdd8e0d0160d567e.setContent(html_e042302b36f1d4f006f0c3a2d95dde66);
            
        

        marker_437879320fa557297ccaa5b11afee7cd.bindPopup(popup_cb15aa68502dabedbdd8e0d0160d567e)
        ;

        
    
    
            var marker_50af35f957f5bf96d510a5cd98435596 = L.marker(
                [41.9028, 12.4964],
                {}
            ).addTo(map_050d8a58f8a01965d51efbf3db50df3f);
        
    
        var popup_945a63feb208848d29643f8aeb6a4c22 = L.popup({"maxWidth": "100%"});

        
            
                var html_07423f4eb5074cd365096840e27c90f2 = $(`<div id="html_07423f4eb5074cd365096840e27c90f2" style="width: 100.0%; height: 100.0%;">Rome, Italy</div>`)[0];
                popup_945a63feb208848d29643f8aeb6a4c22.setContent(html_07423f4eb5074cd365096840e27c90f2);
            
        

        marker_50af35f957f5bf96d510a5cd98435596.bindPopup(popup_945a63feb208848d29643f8aeb6a4c22)
        ;

        
    
</script>
</html>